@font-face {
  font-family: LemonMilkLight;
  src: url("lemon-milk-font/LemonMilkLight-owxMq.otf");
}
@font-face {
  font-family: LemonMilkBold;
  src: url("lemon-milk-font/LemonMilkBold-gx2B3.otf");
}
body{
  font-family: LemonMilkLight;
  background-color: skyblue;
  background-image: url(cloud_float.gif);
  background-repeat: repeat;
}
h1, h2, h3{
  font-family: LemonMilkLight;
  text-align: center;
  color: #1ac6ff;
  text-shadow: 2px 2px #0052cc;
}
img{
  align-items: center;
}
nav{
  height: 300px;
  width: 80%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: auto; */
}
nav.vertical{
  height: 600px;
  width: 80%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.button{
  margin: 5px;
  height: 60px;
  line-height: 40px;
  width: 150px;
  background-color: #4dc3ff;
  text-align: center;
  justify-content: center;

}
.row{
  width: 160px;
  background-color: white;
  margin: 0px auto;
  text-align: center;
  -webkit-filter: drop-shadow(7px 7px 7px #035efc);
  filter: drop-shadow(7px 7px 7px #035efc);
}
.row1{
  align-content: center;
  background-color: white;
  width: 370px;
  margin: 10px;
}
.art_frame{
  align-items: center;
  text-align: center;
  background-color:#4dc3ff;
  margin: 0.5%;
  box-sizing: border-box;
  width: 60%;
  -webkit-filter: drop-shadow(7px 7px 7px #035efc);
  filter: drop-shadow(7px 7px 7px #035efc);
}
.audio_frame{
  align-items: center;
  text-align: center;
  background-color: #4dc3ff;
  display: inline-block;
  margin: 1%;
  margin-top: 10%;
  -webkit-filter: drop-shadow(7px 7px 7px #035efc);
  filter: drop-shadow(7px 7px 7px #035efc);
}
.contact_info{
  margin: 0 45%;
  background-color: #4dc3ff;
  -webkit-filter: drop-shadow(7px 7px 7px #035efc);
  filter: drop-shadow(7px 7px 7px #035efc);
  width: 400px;
  text-align: center;
}
.home{
  text-align: center;
}
.selfie{
  margin: 0 45%;
  -webkit-filter: drop-shadow(7px 7px 7px #035efc);
  filter: drop-shadow(7px 7px 7px #035efc);
}
